[2017-11-01 02:53] i-am-carol opened #1 "npm install --save angular4-material-table"
I got the following error when I tried to install:

[2017-11-01 03:31] irossimoline commented on #1
Hi @i-am-carol,

Which version of nodejs/npm have you installed? Have you tried to update them? I was able to install this package without any issue.

[2017-11-06 14:27] tedtally opened #2 "Example of saving changes to an API"
Can you provide an example of data changes being saved via Put/Post/Delete? Based on the demo I can make changes in the form but those changes aren't permanent.
As a newbie this table looks great and is pretty easy to integrate when it comes to initially populating the table via Http(Get). However, being a newbie ... if I need to permanently save my changes (new, edit or delete) how would can I ca

[2017-11-07 22:11] tedtally commented on #2
Awesome!!! Thank you so much. This had me stumped.

[2017-11-07 22:11] #2 closed

[2017-11-10 17:10] tedtally opened #3 "Expandable row to display a child table"
In efforts to use the material table to fit my needs I am wondering if there's any possibility of inserting a an expansion panel containing a mat-table inside of another mat-table or mat-cell (Parent-Child situation). I've been trying to get it to work but nothing outside of the data-bound form control shows up (the panel does not show at all.) Was the cdk-table or material-table design meant to b

[2017-11-10 22:42] irossimoline commented on #3
Hi @tedtally ,

I'm not sure how this will behave, but it should behave exactly as `@angular/cdk` tables do. If you want more specific information, I suggest you to open an issue in in angular repo asking this exact question.

If you can share your code on plunker, please share it and I will check if I can help you with it.

[2017-11-12 18:51] tedtally commented on #3
Please excuse my frustration (due to laziness :-) ).  You will do exactly what you suggest. I think that the true issue is figuring out how to handle nested arrays/collections inside the dataSource. Since we assign the dataSource to the table how do we access those items in the child array and display them ?

[2017-11-17 22:39] irossimoline commented on #3
@tedtally, sorry for the delay. If you want to use nested arrays/collections inside the dataSource it should be possible doing something like the following code.

In `main-table.component.ts` file (outer table component):
[code]

In `main-table.component.html`:
[code]

In `inner-table.component.ts` file (innertable component):
[code]

In `inner-table.component.html`:
[code]
I didn't try it, but I

[2017-11-18 22:47] tedtally commented on #3
Thanks for all of your help @irossimoline . Truly above and beyond all expectations!

[2017-12-05 14:13] fballkmbs opened #4 "Repository License"
The license for the published package on npmjs.com is MIT. Can you make the license on the github repository match that license? Thanks.

[2017-12-05 19:26] irossimoline commented on #4
@fballkmbs, license file is ready.

Thank you for your feedback.

[2017-12-05 19:30] fballkmbs commented on #4
That's great! Thanks again.

[2017-12-05 19:30] #4 closed

[2017-12-13 16:38] irossimoline commented on #1
@i-am-carol, I proceed to close this issue, as we had no additional feedback.

[2017-12-13 16:39] #1 closed

[2017-12-13 16:39] #3 closed

[2018-01-05 03:00] ORESoftware opened #5 "move to Angular 5?"
now that Angular 5 is released?

[2018-01-10 20:47] irossimoline commented on #5
Hi @ORESoftware,
- 0.2.0 uses Angular 5,
- 0.1.8 (and previous releases) use Angular 4.

Feel free to try it.

[2018-01-11 20:53] #5 closed

[2018-01-20 19:02] Tomerco89 opened #6 "Setting default values in FormControl"
Hi,

I am trying to set a default value for a cell when creating a new row, but for some reason i cant make it work... any help will be appreciated.

[2018-01-22 16:24] irossimoline commented on #6
Hi @Tomerco89,

The way I see it, you can try something like this:

table.component.html
[code]

table.component.ts
[code]

I'm not sure if you can use form control's default value to create rows with default values, because an object is created in the table, and that object is created empty intentionally.

If you still can't find a way to do it, please share some code where I can start with.

[2018-01-30 23:05] irossimoline commented on #6
Hi @Tomerco89 ,

If you have additional questions please open a new issue.

[2018-01-30 23:05] #6 closed

[2018-02-28 13:35] ulejon opened #7 "How to use a mat-autocomplete"
Is it possible to use a mat-autocomplete in a cell in the table?
In addition, then typing in the autocomplete component the filtering should be done using a http call, like they do in this example: https://stackblitz.com/edit/angular-nku8fq?file=app/app.component.ts

The hardest thing for me to wrap my head around is how to react to changes to the autocomplete input field and do the filtering, lik

[2018-02-28 21:03] irossimoline commented on #7
Hi @ulejon,

Yes it is possible. The way I see it you can do it at least in two different ways:
1- If you are defining a `ValidatorService` instance at the time of creating the `datasource`, on each new row you instantiate you can access to `row.validator.controls['nameOfTheFormControl']`, and subscribe to it like in the example you provided. So, in the event that triggers creation of a new row (`

[2018-03-01 11:14] ulejon commented on #7
Hi and thanx @irossimoline! I will try out approach no 1, I think that is the most fitting solution for me. Much appreciated!

[2018-03-01 11:39] irossimoline commented on #7
Great, @ulejon. If you have any issues regarding to that please share your approach with `stackblitz` or some other. Otherwise, feel free to close the issue.

[2018-03-02 11:10] ulejon commented on #7
@irossimoline I'm having some issues with approach 1. I'm trying to create a stackblitz that I can show you, but I'm having issues with that as well. I'm unable to add angular4-material-table as a dependency. It says that I also need to install dependency @angular/cdk/collections. Have you successfully created a stackblitz with angular4-material-table?

[2018-03-02 12:55] irossimoline commented on #7
I didn't use it at stackblitz, but you can start from [this example on plunkr](https://plnkr.co/edit/0z29AOzjv7kMbvikyybh?p=preview).

[2018-03-02 13:51] ulejon commented on #7
@irossimoline Here's the link [to a simple plunkr](https://plnkr.co/edit/xsRuWXkjtL1oYgesCny1?p=preview)

If you bring up the console you can see that I it works with subscribing to new rows. But how do I subscribe to the rows initially loaded from the service?

[2018-03-05 13:09] irossimoline commented on #7
@ulejon, on that case you can try the following:

1. Create a new field for your model, that will hold a `Subscription` value.

2. On editing rows, check if subscription does not exist before calling `row.startEdit()`, and create one if not, storing it on the new field of your model. For this, you will have to call the `row.startEdit()` from a method into your component, like you did with `dataSou

[2018-03-08 19:38] ulejon commented on #7
@irossimoline, thank you for the detailed response! I'm pretty sure this approach will solve my problems. I won't be able to try ut out for a couple of days. I'll close this issue for now and later update it with the results.

Thank you again,
Cheers

[2018-03-08 19:38] #7 closed

[2018-03-09 09:51] Yessine-abid opened #8 "Error I can't create a multiple row on dataTable !!"

[2018-03-09 12:43] #8 closed

[2018-05-11 11:55] BahgatMashaly opened #9 "could you use typescript method to colon object instead of lodash.com cloneDeep"
could you use typescript method to colon object instead of lodash.com cloneDeep

like this

let swallowClone = { ...original };

or

let swallowClone= Object.assign({}, original);

[2018-05-11 11:56] BahgatMashaly opened #10 "how to remove dots border"
Hello Dear,

how to remove dots border from cell?

[2018-05-11 11:57] BahgatMashaly opened #11 "how to use dropdown list"
Hello Dear,

Could you give use a simple example how to use dropdown list

[2018-05-11 13:29] BahgatMashaly commented on #10
it's related to angular material

[2018-05-11 13:29] #10 closed

[2018-05-17 20:29] irossimoline commented on #9
Hi there,

It can be done a shallowClone, but you will never be sure if a mutability can affect your cloned data.
Could you explain why would you require it?

Thank you.

[2018-05-17 22:05] irossimoline commented on #11
Hi there,

To use a dropdown is pretty simple. You can have a component property to store the list displayed by the dropdown, and then access it from the `html` template as a usual dropdown list.

[2018-05-21 12:05] pdvbalaji opened #12 "Can't bind to 'formControl' since it isn't a known property of 'input'."
Hello sir,

 I try to implement your code in my project but getting errors like this , Can you please help to solve this problem . Thank you

Can't bind to 'formControl' since it isn't a known property of 'input'. ("
        <mat-cell *matCellDef="let row">
            <mat-form-field >
                <input [ERROR ->][formControl]="row.validator.controls['name']" [readonly]="!row.editing" placeh

[2018-05-21 12:35] irossimoline commented on #12
Hi @pdvbalaji, did you forget to import `FormsModule`/`ReactiveFormsModule` in your own module?

[2018-05-22 06:32] pdvbalaji commented on #12
I added Forms Module ,But i did not  add ReactiveFormsModule  ,shall i add it

[2018-05-22 06:33] pdvbalaji commented on #12
plz help to solve this , I am using typescript with dotnet

[2018-05-22 13:05] irossimoline commented on #12
@pdvbalaji, if you are using `formControl` inside an `input` you should import `ReactiveFormsModule`.

[This SO question](https://stackoverflow.com/questions/43220348/cant-bind-to-formcontrol-since-it-isnt-a-known-property-of-input-angular) talks about the same problem that you are experiencing.

[2018-05-24 13:16] irossimoline commented on #12
@pdvbalaji, could you solve the issue?

[2018-05-28 21:26] irossimoline commented on #12
@pdvbalaji

As no answer received I'll assume you could solve it and I'll close this issue. If you keep having issues to make it work you can open a new issue.

[2018-05-28 21:26] #12 closed

[2018-06-12 04:48] Cero01 opened #13 "Angular 6 support?"
Hello,

Does this one work on Angular v6? Thanks!

[2018-06-12 11:22] irossimoline commented on #13
Hi @Cero01, it has not been updated yet, but it just requires to update dependencies, the code itself is fully compatible.

Let me do it and I'll ping you back when done.

[2018-06-12 11:58] irossimoline commented on #13
@Cero01, I've published a new version using angular 6 dependencies.

Please try:
`npm install angular4-material-table@0.6.0`

Please give me some feedback if you have any issues using it.

[2018-06-12 12:23] irossimoline commented on #11
Hi @BahgatMashaly, due to inactivity I'll close this issue.
If you have any other question please open a new one.

[2018-06-12 12:23] #11 closed

[2018-06-12 12:24] irossimoline commented on #9
Hi @BahgatMashaly, due to inactivity I'll close this issue.
If you have any other question please open a new one.

[2018-06-12 12:24] #9 closed

[2018-06-13 22:15] coverbeck commented on #13
@irossimoline I'm trying to use it with Angular 6.

Do you have an example that runs? The Plunker link from your README seems to have things that are no longer present in Angular 6 (Plunker doesn't work at all for Angular, so I've tried recreating it in StackBlitz):

* MATERIAL_COMPATIBILITY_MODE
* floatPlaceholder attribute of mat-form-field
* Still running into an error with `Can't bind to 'form

[2018-06-14 01:20] irossimoline commented on #13
Hi @coverbeck,

I have created a stackblitz with the sample code. [You can check it here].(https://stackblitz.com/edit/angular-tj9f6y)

Please let me know if you have any doubt.

Regards

[2018-06-14 01:32] irossimoline commented on #13
Regarding the other question:
- MATERIAL_COMPATIBILITY_MODE was a setting for a transition between Angular 4 and 5, but is not longer needed.
- floatPlaceholder was renamed to floatLabel in Angular 6, so it's just a rename.
- The last one is probably because you are missing the ReactiveFormsModule. [https://github.com/irossimoline/angular4-material-table/issues/12](Also you can check here for more

[2018-06-14 01:34] irossimoline commented on #13
Regarding the other question:
- MATERIAL_COMPATIBILITY_MODE was a setting for a transition between Angular 4 and 5, but is not longer needed.
- floatPlaceholder was renamed to floatLabel in Angular 6, so it's just a rename.
- The last one is probably because you are missing the ReactiveFormsModule. [You can check it here](https://github.com/irossimoline/angular4-material-table/issues/12).

[2018-06-14 16:05] coverbeck commented on #13
Hi @irossimoline -- Thanks! I will try it out in my app.

Charles

[2018-06-15 22:45] irossimoline commented on #13
Great @coverbeck!

@Cero01, I'm going to close this issue because the tables are already working for Angular 6.

If you encounter any issue please open a new one.

[2018-06-15 22:45] #13 closed

[2018-06-23 11:52] techievinoth opened #14 "vulnerabilities in npm Package"
I have tried installing the package, It has displayed on installation complete.
found 15 vulnerabilities (4 low, 5 moderate, 6 high)

[2018-06-23 14:39] irossimoline commented on #14
Hi @techievinoth,

I've tried to install it on a sample project I have with Angular 6, and I'm not receiving any warning:
`npm install angular4-material-table@0.6.4 --save`

I have few questions:
- Which `angular4-material-table` version are you trying to install and which Angular version do you have on your project?
- Do you have your `@angular` packages updated?
- Which version of npm do you hav

[2018-06-25 09:04] MarcoLasticot opened #15 "TableDataSource should extend MatTableDataSource instead of DataSource"
Hi irossimoline,

First of all, what you've developed is very cool and useful.
I think it could even be better with few changes.
TableDataSource should extend MatTableDataSource instead of DataSource. Like that, TableDataSource would inherited the filter and sort methods which are provided OOTB by Material.

[2018-06-26 11:10] kal93 opened #16 "Adding documentation or the source code demonstrating the approach."
Is the source code for this package public?

There're very few examples of extending cdk table.So far I'm aware of only two such packages viz this one and the other is [terminus ui](https://github.com/GetTerminus/terminus-ui) so I think it would be great if this repo provides some sort of technical details or code as to how you guys approached it.

[2018-06-29 05:16] hossameldeen opened #17 "When can TableElement.currentData be undefined?"
I have `strictNullChecks` enabled, and I have the following code:
[code]

When I compile it, I get this error:
[code]

 That's because `currentData` is optional in `TableElement` class, so it could possibly be `undefined` and I can't access `someProperty` on `undefined`.

My question: at what cases would `currentData` be undefined? I'm bewildered because `originalData` isn't optional. Can `current

[2018-06-29 16:24] irossimoline commented on #15
Hi @MarcoLasticot,

I think it could be done with a kind of big refactoring, but to keep being backwards compatible we must consider:

- Do not enforce to depend on `@angular/material` package. It could be present, or it couldn't, and should be OK.
- Keep extending `DataSource`, and have another structure that extends `MatTableDataSource` (again, backwards compatibility).
- On the code used, try t

[2018-06-29 16:30] irossimoline commented on #16
Hi @kal93,

The source code of this package is public. You can check the implementation under `src` folder. The code is documented, and I think it is also self explanatory.

If you have any specific doubt please let me know.

[2018-06-29 16:49] irossimoline commented on #17
Hi @hossameldeen,

I think you have found an issue. The thing is that `originalData` could be undefined, but `currentData` shouldn't: the first one is only populated when editing an element, and the last one is the one that holds the row data, so it should not be undefined. I'm not with my PC near now, but I can fix it and push soon.

[2018-06-29 23:36] irossimoline commented on #17
Hi @hossameldeen,

I've published a new version with this fix. :)
If you have any question please let me know.

[2018-06-29 23:41] hossameldeen commented on #17
@irossimoline , I was writing this comment when you pushed the fix :-) Thanks for the prompt response and for the awesome package!

I've checked it, will upgrade. Nope, no more questions :+1: , you can close.

By the way, I'm a fan of `strictNullChecks`. So, I've tried to enable it on your project and resolve the errors. One error that particularly caught my eye is this:

[code]

Of course, the if

[2018-06-30 02:10] kal93 commented on #16
I did have a look at the code and it seems that this package extends the cdk DataSource which is then used with `mat-table`.I was under the impression that this package had built a whole new table with its own templates on top of cdk table which looked exactly like `mat-table`.

Thanks @irossimoline .

[2018-06-30 02:30] irossimoline commented on #16
Cool you had a look on it @kal93. You are right: the idea behind this package is just to extend Angular's framework to allow CRUD and data validation easily, but avoiding reinventing the wheel. 😃

If you have any other doubt please feel free to open a new issue.

[2018-06-30 02:30] #16 closed

[2018-07-12 07:17] Innomalist opened #19 "Extending TableDataSource"
Hi,
First of all thanks for this great library, i have been using a normal material dataTable which uses an extended DataSource to make http requests (It's actually a socket but let's say http :) )
i have tried to use your component instead but it seems it can't conform exactly like a normal DataSource. I have made the connect and disconnect function with same structure as yours but still TsLint a

[2018-07-26 12:16] fOO223Fr commented on #19
I have the similar problem but I am not using socket service but I am httpClient! Btw I have a novice question which is are you initiating `dataSource=new CustomDataSource`?

[2018-07-26 13:01] Furqanaa opened #21 "How to use this code with reactive forms and form Arrays ?"
Hello,
I loved the code, it will be really helpful if you can guide me on how to implement this kind of table with reactive forms and FormArray.
let's say that the below method is responsible for creating the form
[code]

I need to manage the Items through an editable table, at the beginning the table must have two empty rows:
[code]
The Html markup of the table should be drawn according to the da

[2018-07-26 17:47] fOO223Fr opened #22 "Which function to call for sending a put request to my server?"
Please help!!
I was wondering which method to call or rather how do i send a put request which is implemented in BookService as a method called updateBook() which accept an array
I have tried to a demo on your existing demo [here](https://stackblitz.com/edit/angular-adpqjw) I keep getting error when trying to access **datasourceSubject** you see the error in the console of the demo.
[code]

[2018-07-27 02:57] irossimoline commented on #21
Hi @furqanaa, I have been thinking a while about your needings, and I have few questions:

- Why do you need to implement it with `FormArray`? The reason behind not implementing the table with `FormArray` was because it doesn't make much sense to validate all rows in table, but each row when confirming the changes.
- why do you need to have the empty rows on the table? Does have sense to have empt

[2018-07-27 10:58] Furqanaa commented on #21
Thanks for the quick response.
Indeed, I need to add two rows by default because I'm implementing a [financial entry](https://en.wikipedia.org/wiki/Journal_entry) which must have two items at least.
also, I need to use the `FormArray` because I want to validate all the rows together (business constraints).
I couldn't build the material-table based on the FormArray structure and I end up using a re

[2018-07-27 12:00] irossimoline commented on #22
Hi @fOO223Fr,

I've checked the demo, and the problem seems to be that you aren't creating the table before trying to access it.

To be more clear, let's analyze your ngOnInit method:

[code]

A way to solve it could be subscribing to the datasourceSubject right after instantiating it, moving your `this.dataSource.daasourceSubject.subscribe(...)` right after `this.datasource = ...`. Not sure if it

[2018-07-31 11:00] jgomesmv opened #23 "Warning message Ngmodel is getting deprecated"
It seems that ngmodel will be removed on Angular7.
I tried to change the code to in order to support the new practices regarding FormGroup and FormControl. But the lines appear always in edit mode.

This is the snippet I have used:
<input matInput formControlName="row.validator.controls['name']" [readonly]="!row.editing" placeholder="Name" [value]="row.currentData.name">

Any thoughts about this?

[2018-08-08 11:39] jgomesmv commented on #23
In order to fix the issue I have used the following snippet:
`<div [formGroup]="row.validator">
	<mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
	  <input matInput formControlName="summary" [readonly]="!row.editing" placeholder="Summary" [value]="row.currentData.summary || ''">
	</mat-form-field>
</div>`

Hope it helps!

[2018-08-11 15:59] irossimoline commented on #23
Hi @jgomesmv, sorry for the delay.

I've checked it an read about this breaking backwards compatibility change.
Maybe that currently solves the error message, but I'm not confident it will work on Angular 7.

These are good sources to read:
https://angular.io/api/forms/FormControlName#use-with-ngmodel
https://angular.io/guide/form-validation

The first one explains why the `Reactive Forms` and `Te

[2018-08-11 16:25] irossimoline commented on #19
Hi @Innomalist, It seems that you are not being able to override methods on the base class `TableDataSource`. The way I see it, you are not trying to `implement` the `TableDataSource` but `extending` it. Am I right?

In case you are extending it, you suppose to be using all the defined behavior from `TableDataSource`. On the other hand, if you try to implement it (again), you just write your own l

[2018-08-24 09:26] Innomalist commented on #19
Thanks for your response, The original error had gone away with using exact same versions as the ones this component used in my project too. And also you were right i was trying to extend but instead i was using implementation keyword. My bad it was because i was following the guides on this medium article to make datasource work: https://blog.angular-university.io/angular-material-data-table/
I a

[2018-08-30 06:10] Metform commented on #22
irossimoline, thank you so much, I could not solve this problem for 5 days, I tried to place "this.dataSource = new TableDataSource <Book> (data, Book, this.bookValidator); in the setTimeOut function to simulate the delay for server response, but it did not work. Thank you once again for creating such a useful lib mostly for people like me

[2018-09-07 01:31] CindyLulu opened #24 "How to get the current data in TableDataSource?"
Currently there's no public attribute for us to get the current data in TableDataSource instance, right?
I check the source code of TableDataSource, it seems the data is stored in rowsSubject, could we change the rowsSubject to a public attribute? so that we can deal the logic with data rows in typescript files.

[2018-09-10 19:59] fatihkurnaz opened #25 "createNew function"
hi
while creating new item, I want to see added empty-data row at the top of table instead of buttom of it.
Is there any config setting to do this or  should I change source code. If source code should be changed, How can I change?

[2018-09-10 21:15] irossimoline commented on #25
Hi @fatihkurnaz,

Sure, if you check `readme.md` you can see that when you create the `TableDataSource` you can set the 4th argument (config) to have the property `prependNewElements` with `true` value, which is `false` by default.

With the `prependNewElements` as `true`, new elements get inserted on top.

If you have any other doubt please reach me out.

[2018-09-11 07:20] fatihkurnaz commented on #25
Thank you it worked :+1:  Another doubt is paginator. I tried to insert paginator property for high-volume content. Do you have suggestion on this issue

[2018-09-11 23:45] irossimoline commented on #25
I'm not getting the point here. Are you just trying to insert a paginator?
You just have to use (for example) angular paginator, and fill it with appropriate values and correct function to be called on page change event.

[2018-09-12 15:18] fatihkurnaz commented on #25
thank you again :)

[2018-09-12 15:18] #25 closed

[2018-09-13 02:37] amila4d commented on #19
Im facing same issue. still no luck

[2018-09-13 09:50] Innomalist commented on #19
Well i didn't had a luck either, maybe @irossimoline would be kind enough and upload a sample with crud operations requested from a service.

[2018-09-16 16:39] irossimoline commented on #22
Hi @Metform, please share your code so I can help you with it.

Regards

[2018-09-16 16:43] irossimoline commented on #19
Hi @amila4d, @Innomalist,

Could any of you please share the code on stackblitz or other platform so we can iterate over it?

Thank you.

[2018-09-16 17:05] irossimoline commented on #24
Hi @cindylulu,

You can access datasourceSubject, which is an array with the data in the table.
Currently the is no outer access to rowsSubject, because that doesn't have to be displayed to outer classes, and it's private for abstraction purposes.

[2018-09-21 05:17] harish516 opened #26 "Not an Issue - HTTP interceptor Conflict with keycloak-angular"
Hi,

Thanks for all great effort in this nice plugin. I am using this plugin with Angular 6.

One observation is that when this plugin having some conflict with with keycloak-angular plugin (https://github.com/mauriciovigolo/keycloak-angular).
keycloak-angular plugin supposed to include Authorization header with Bearer + token using http interceptor. When this plugin is included in my project, It'

[2018-09-21 06:06] harish516 commented on #26
Not an issue with this plugin. Raised issue too early. Please delete this issue if possible.

[2018-09-21 06:06] #26 closed

[2018-09-22 11:11] harshthakur92 opened #27 "How to create a method in component of row.confirmEditCreate()"
.html
<button *ngIf="row.editing" mat-icon-button color="primary" focusable="false" (click)="row.confirmEditCreate()">

.component.ts
how can i call this method
confirmEditCreate(){
 //It gives an error
}
By calling this method i will save data in to the database.

@irossimoline  Please help

[2018-09-23 22:51] irossimoline commented on #27
Hi @harshthakur92,

In that case you must call the method with the row as a parameter, as follows:

[code]

[code]
Hope it helps, if you have any other doubt please reach me out.

[2018-09-28 06:03] massimo-ua commented on #23
Hi @irossimoline
Why don't you choose one approach from the mentioned above?
IMHO I prefer reactive forms approach, so I adopted datasource and table element to use them.
After this I realized that I don't need currentData property of table element anymore because I use formGroup (validator) to store current value of cell/input
What do You think about that?
Thanks

[2018-10-03 13:34] RajasekharAlluriGGK opened #28 "Issue with node_modules with in angular4-material-table package"
I'm facing Issue after installing angular4-material-table NPM module.
After research, I found like my solution already contains @angular package with core, common and forms
![image](https://user-images.githubusercontent.com/25174814/46413491-ac744180-c73e-11e8-8c68-b8456420da7f.png)

Inside the Angular4-material-table module, Again we have Node_modules with the core, common and forms
![image](http

[2018-10-03 13:43] RajasekharAlluriGGK commented on #28
Im able fix this locally by deleting Node_module in angular4-material-table package,
But i want to fix in production server, Where we can't perform manual deletion in node_modules

Is there any other solution to fix this

[2018-10-05 10:13] RajasekharAlluriGGK commented on #28
Its got fixed, By taking the latest angular6 version

[2018-10-05 10:13] #28 closed

[2018-10-06 08:28] Innomalist commented on #19
Hi @irossimoline,
Thanks for your consideration here is what i got: https://stackblitz.com/edit/angular-e9sk7x.
I have managed to extend the TableDataSource object except that i could find a way to convert the the json data to a TableElement object. It seems there was a method called getRowsFromData that was used internally for this purpose but it was marked as private.
Also if any improvement or

[2018-10-06 19:58] irossimoline commented on #19
Hi @Innomalist,

Thank you for sharing it and for your feedback. From your comments, I've realized that it would be a good idea to change methods accessibility in order to facilitate extensions on the package, so I've changed those `private` methods to `protected`. Now you can use them to extend the table! 😄
I've published a new version (`0.6.8`) with the changes.
Also, checked the code on Stackbl

[2018-10-06 20:01] irossimoline commented on #27
As the answer seems to fix the issue, I'll close it.

If you have additional questions please feel free to open a new issue.

Regards!

[2018-10-06 20:01] #27 closed

[2018-10-06 20:05] irossimoline commented on #14
I'm closing this issue as no answer was received, and the dependencies included are the expected dependencies from angular, with the exception of a lodash function.

If you have any additional question please feel free to open a new issue.

[2018-10-06 20:05] #14 closed

[2018-10-06 20:29] irossimoline commented on #21
Hi @Furqanaa,

Sorry for the delay this time. Considering that you have different needs than the package could provide, I can suggest you do one of the following:
  -Extend package's functionality (fork it on Github), and change it to fit your needs. There is a currently opened issue where the package is needed to meet more specific needs, and it's going to be extended. Feel free to [check it](htt

[2018-10-06 20:29] #21 closed

[2018-10-06 20:31] irossimoline commented on #22
Hi @Metform,

I'll close this issue as we didn't receive any update from you.
Please if you still have the issue, or you have any other question, please feel free to open a new issue.

Regards.

[2018-10-06 20:32] #22 closed

[2018-10-12 14:54] lrochas opened #29 "TypeError: undefined is not an object (evaluating 'this.dataKeys.reduce')"
Hi!
In the **TableDataSource class** / **createNewObject function** I get this error when I try to create a new element: `ERROR - TypeError: undefined is not an object (evaluating 'this.dataKeys.reduce')` wether by invoking `(click)="dataSource.createNew()"` in the view or when calling's the `this.dataSource.createNew();`function in the component. I'm not trying to innovate for the moment. Just tr

[2018-10-13 09:41] lrochas commented on #29
Fresh install resolved the issue. Forget!
Thanks for sharing your code.

[2018-10-13 09:41] #29 closed

[2018-10-13 15:28] irossimoline commented on #19
Hi @Innomalist, have you any update on this?

[2018-10-24 16:22] lakinduakash opened #30 "Release for Angular 7"
Any idea for release for angular 7 may valuable

[2018-10-24 18:40] lakinduakash opened #31 "Conflict with rendere 3 in node_modules"
I'm getting error when I run my project. Currently my angular version is 7.
[code]
However after I deleting node_modules folder inside angular4-material-table folder which is in project's node_module, I could run without problem.

[2018-10-24 21:09] lakinduakash opened #32 "extending MatTableDataSource instead DataSource"
If it can extend MatTableDataSource then we can use MatPaginator, MatSort, search etc more easily because in MatTable we can setup those features easily.

[2018-10-28 23:28] irossimoline commented on #30
Published a new version for Angular 7.

It mainly update library dependencies, and also implements a refactor to separate template-driven from reactive-forms technique.
It does support both approaches, but separates internal behavior manipulating the data directly on FormGroup and FormControls if using reactive-forms approach.
In case of using template-driven, the data correctness validation befor

[2018-10-28 23:31] irossimoline commented on #31
Hi @lakinduakash , I think it's a library dependency issue, so no extra action required but to reinstall it.

If you have an additional comment about this, please feel free to ping me.

[2018-10-28 23:37] irossimoline commented on #32
Hi @lakinduakash,

[There is already an issue regarding this](https://github.com/irossimoline/angular4-material-table/issues/15).
As I currently don't have much bandwidth, I can't take in short term, but any help regarding it will be appreciated.

[2018-10-28 23:43] irossimoline commented on #23
Hi @massimo-ua,

Now the code and Readme are updated to reflect this: you can check the changes on [this commit](https://github.com/irossimoline/angular4-material-table/commit/f252b40aa28e5f705abd98d764efae977585ec64).
Users could still choose between `reactive-forms` and `template-driven`, the one which fit their case better.

Because of your feedback, I also changed to use `currentData` as a `ge

[2018-10-28 23:48] #30 closed

[2018-10-31 21:13] massimo-ua commented on #23
Hi @irossimoline
Thanks for your reply and universal approach. I will definitely check recent changes

[2018-12-17 22:49] Innomalist commented on #19
Hello @irossimoline,
Thanks again for your help and consideration, You were great and yes i tried everything today and they seemed good. I have one problem with createNew function that even though it's calling correctly to function inside TableDataSource and pushing new item to the list but it doesn't shows the newly added row, I think i will be able to go around it and have adding row in another

[2018-12-17 22:49] #19 closed

[2019-01-15 14:51] nolafs commented on #31
I am having the same issue when compiling the project.

ERROR in node_modules/@angular/core/src/render3/ng_dev_mode.d.ts(9,11): error TS2451: Cannot redeclare block-scoped variable 'ngDevMode'.
node_modules/angular4-material-table/node_modules/@angular/core/src/render3/ng_dev_mode.d.ts(9,11): error TS2451: Cannot redeclare block-scoped variable 'ngDevMode'.

Any ideas.

Cheers
Olaf

[2019-01-15 15:30] nolafs commented on #31
When deleting the node_module inside angular4-material-table package, it compiles fine. The conflict occurs with my version of angular ahead. It tried fixing it by setting the resolution but not much luck with that.

[2019-02-01 10:40] rosostolato commented on #15
Hey guys! Was there any advance with this issue?

[2019-04-10 10:19] golshidb93 commented on #15
Hi guys,
I'm using your library and it has been very useful so far. The only thing missing is that I can't use sort and filter functionalities, and I really need it. Thanks for all the hard work so far :-)

[2019-05-07 08:50] Nessential commented on #15
He @irossimoline , I'd be willing to help. Maybe we can set up a feature branch or something?

[2019-05-12 15:48] irossimoline commented on #15
Hi @boazhuisman, sure I would love a solution that takes backwards compatibility into account.

I've created a branch named `feature/allow-extend-material-table` and added you as a collaborator, so you can start from there.

I don't have much available time right now, but please mention me anywhere you need extra help and I'll be willing to help you.

[2019-06-03 11:50] eltonhp opened #33 "Upgrade to angular 7 to angular 8"
Hello,
I made the upgrade angular 7 to angular 8 on my project.
And the error is occurring when the AOT compile at the production mode:

_ERROR in ..\angular4-material-table\src\app.module.ts(4,2): Error during template compile of 'AppModule'
  Function calls are not supported in decorators but 'ɵmakeDecorator' was called in 'NgModule'
    'NgModule' calls 'ɵmakeDecorator'._

Please, can you help?

[2019-06-21 06:53] blavenie commented on #33
WIth Angular 8 i have another error :
[code]
I think a simple recompilation with [this PR](https://github.com/irossimoline/angular4-material-table/pull/34) will fix this.

[2019-06-22 00:49] #33 closed

[2019-06-22 01:48] irossimoline commented on #33
Merged and created v0.8.0 with it. Thank you @blavenie for your help!

[2019-06-27 03:51] craigchandler opened #35 "Date picker edit field doesn't fit in the cell"
Hi

I have a table where the editor shown is dependent on a type setting in another column
The issue i'm having is the cell doesn't fit in the calendar button for a calendar popup editor
I'm sure there is a simple css solution to this but I'm no css expert

(image of date editor active, you can see the calendar button which normally is at the end of the field is wrapped to a second row)

![image](

[2019-07-16 19:57] danyssespindola opened #36 "ERROR TypeError: Class constructor DataSource cannot be invoked without 'new'"
Hi,
I installed the last version of this component and I implemented the example from link https://stackblitz.com/edit/angular-tj9f6y but dosen't work. I get this error:
![image](https://user-images.githubusercontent.com/42477448/61325196-8c53d180-a7ea-11e9-82f6-c771ff3fea4f.png)

Any ideias why? My project uses Angular 8.1.0 and Angular Material 8.0.0.

Thanks

[2019-07-23 06:17] moogmodular commented on #36
The error went away when i set the target back to "es5" in tsconfig.json after the update to 8.1

[2019-08-06 08:47] rsteaburdea opened #37 "error TS2416: Property 'connect' in type 'TableDataSource<T>' is not assignable to the same property in base type 'DataSource<TableElement<T>>'."
Hello

I get this error when I try to implement locally your [example](https://stackblitz.com/edit/angular-tj9f6y?file=src%2Fapp%2Fapp.module.ts) and I suppose it's because **Angular 8** is not backward compatible with **Angular 4**.

![Error Image](https://user-images.githubusercontent.com/40496269/62524682-b8d59900-b83e-11e9-8585-8491e3be7873.png)

What is this error about?
Can you help me fix i

[2019-08-07 08:14] rsteaburdea commented on #33
Hello.

Is npm linked automatically to the latest version on github or should I do something different than `npm install --save angular4-material-table`?

[2019-08-19 14:40] rohini007 commented on #15
Any update on this issue

[2019-08-23 13:49] AlexMihov96 commented on #37
I do experience same issue running the package after updating to Angular 8, is it a know issue and can we workaround it somehow untill it's fixed?

[2019-09-16 09:45] vandervyvere opened #38 "Build errors after updating to 0.8.0"
Good day.

I have updated my project to Angular 8 and also the angular4-material-table which is awesome to 0.8.0.

I have a problem though that when I try and build my project or the table on its own I get a lot of errors. I am no js or Angular expert and cannot seem to figure out why this happens.

Attached is the output from the build.
[angular4-material-table-build-error.log](https://github.com

[2019-09-17 08:55] vandervyvere commented on #38
So, what I have done was recreate the whole project from scratch, which resulted all the errors to disappear.
But I am experiencing the same thing that is happening in #37

[2019-09-17 08:55] #38 closed, assigned to nobody

[2019-09-19 08:28] vandervyvere commented on #37
For me how I resolved it was by deleting the node_modules folder located in the angular4-material-table folder. After this when I build/serve i do not get the error anymore.

[2019-09-23 11:40] nolafs commented on #36
Any fixes planned for it?

[2019-10-11 09:06] rsteaburdea commented on #37
It doesn't work for me!

![image](https://user-images.githubusercontent.com/40496269/66639378-668a6d00-ec1f-11e9-9ab4-c06317bdd615.png)

[2019-12-18 15:21] filipkbt opened #42 "Cannot overwrite row.currentData"
Hi,
I'm checking if any of properties in object contains '' (empty string) and i'm trying to override it with null value.

    for (let key in row.currentData) {
      if ((!row.currentData[key]) || (row.currentData[key] && (row.currentData[key].toString().trim() === '') {
        row.currentData[key] = null;
      }
    }

but after all, when I debug row.currentData selected property still has va

[2020-01-04 01:15] harleyz commented on #36
I experienced this today as well, the work around did work for me, but I am also wondering if this can be fixed.

[2020-03-16 06:38] Ricardo110 commented on #37
Hi, I' getting the same error. Did you find a way to fix this issue?

[2020-03-16 06:56] vandervyvere commented on #37
Did you try my solution mentioned above, not sure if it worked for everyone.

"For me how I resolved it was by deleting the node_modules folder located in the angular4-material-table folder. After this when I build/serve i do not get the error anymore."

[2020-03-16 07:52] Ricardo110 commented on #37
Yes I tried that, still getting the same error when I tried to run it. I also tried deleting all of the node-mudules folder as well and still gives me the error

![image](https://user-images.githubusercontent.com/5233649/76734475-a8d64e00-676b-11ea-9c62-354c9707895d.png)

[2020-03-16 09:14] AlexMihov96 commented on #37
I solved that error by deleting node_modules in angular4-material-table folder then installing it again via npm install, then I ran my project and it started successfully.

[2020-04-25 18:18] dilipsarkar commented on #37
I was also getting the same error but in my case it was due to the mismatch of data type between the `DataSource` class and `connect` method `Observable` return type

[code]

Please pay attention to the `DataSource` type i.e. `Task` and the `connect` method `Observable` type `Task[]` i.e. it should be an array of the `DataSource` element type.

[2020-05-01 04:40] asukkoor commented on #37
Has anyone identified a solution for this issue? Deleting the node_modules folder doesn't fix the issue.

[2020-05-01 04:42] asukkoor commented on #37
Did you resolve this issue?

[2020-05-01 05:41] asukkoor commented on #37
Actually, deleting node_modules in angular4-material-table folder works!

[2020-05-01 08:21] rsteaburdea commented on #37
@AlexMihov96 @vandervyvere @asukkoor can you provide me an example of this issue working?

For example a github repository with this table?
Also some photos attached with steps to fix it would be usefull.

For me it's still not working.

[2020-05-01 20:01] AlexMihov96 commented on #37
I no longer have access to this repo, but you should just delete node_modules in angular4-material-table folder ( which is in node_modules in your current project ). then installing it again via npm install, it used to work for me 100% of the times @rsteaburdea

[2020-05-03 12:14] rsteaburdea commented on #37
@AlexMihov96 I don't have very much experience with Angular. I read documentation of this table and is not very clear to me. I tried to copy-paste this [example](https://stackblitz.com/edit/angular-tj9f6y?file=src%2Fapp%2Fapp.module.ts) on my local computer after your workaround it didn't work.

Can you help me please?

[2020-05-04 07:10] AlexMihov96 commented on #37
@rsteaburdea Do you have Angular 7 globally installed or it is Angular 8/9, in this example you can see in package.json that angular is at version 7, you need to match the same version in order to run. Do not take the example, install the package in your project (create empty one) and follow the instructions. Note that this package does not support Angular 9

[2020-05-04 08:30] rsteaburdea commented on #37
@AlexMihov96 I checked now and it looks like I have Angular 9. I checked on [npm](https://www.npmjs.com/package/angular4-material-table) and they offer support even for Angular 8. From my knowledge Angular 9 is backward compatible with Angular 8.

Also from what I remember they have logic over **DataSource** from **angular/cdk/collections** and from documentation is not very clear to me how to use

[2020-05-04 09:47] AlexMihov96 commented on #37
@rsteaburdea As I remember, I lastly run this package on Angular 8 and I did [this](https://github.com/irossimoline/angular4-material-table/issues/37#issuecomment-599425658)
Haven't even tried Angular 9, please try to downgrade 9 to 8 globally and try it again, otherwise dont use this package because it will not support newest Angular features, Angular 9, 10 and etc..

[2020-05-04 09:50] AlexMihov96 commented on #37
@rsteaburdea Its pretty simple to make a wrap over original [Material table ](https://material.angular.io/components/table/overview), if you need anything more.
I wish you luck :))

[2020-05-04 09:51] #37 closed, assigned to nobody

[2020-05-12 13:00] blavenie opened #45 "Upgrade to Angular 9"
Angular 9 changes some package. A new compilation is required.

[2020-05-12 13:02] blavenie commented on #45
When using `angular4-material-table@0.8.0` with angular @9.1.6, i get this error :
[code]

[2020-05-12 13:32] blavenie commented on #42
To update data, you should use the validator (if any) :
[code]

This is because row.currentData can be a getter, when using reactive form validator. See https://github.com/irossimoline/angular4-material-table/blob/master/src/table-element-reactive-forms.ts#L13

[2020-05-18 12:56] BhargaviKasi opened #47 "p-autocomplete shows focus on second tab click"
Am using tabIndex to focus on tab press but on first press it's not focusing after 2nd click it shows focus. How can I focus that on one click????
<div >
              <p-autoComplete
                [style]="{'width':'80%'}"
                [inputStyle]="{'width':'100%'}"
                [ngModel]="_prod.Product"
                [forceSelection] = "true"
                (ngModelChange) = "onField

[2020-10-04 03:10] asukkoor commented on #36
After upgrading to angular/cdk 10, see the same issue, is there any fix? Already tried everything including ES6 and ES2015.

[2021-01-31 06:01] hyouinKyouma commented on #36
@ danyssespindola faceing the same issue for same example

[2021-07-20 11:51] dwbartz opened #59 "Nested Properties for sortingDataAccessor"
Due to some inflexibility in the data I was using I was investigating a way to bind mat-sort-header to a nested property in the data structure. I ended up writing a custom function to replace the sortingDataAccessor in MatTableDataSource in order to facilitate this. It's written in a generic way so I was thinking I'd get some feedback on the idea first and then create a PR for the change if it sou

[2021-07-20 11:54] #59 closed, assigned to nobody